<%- include("partials/header") %>
<!-- search user -->
<div style=" display: inline-block;">
  <input type="text" id="idSearch">
  <button id="search">search</button>
  </div>

<!-- number of not vaccinated -->
<div class="notVaccinated" >
  <h4>Number of people who not vaccinated: <b> <%=numOfNotVaccinated%></b></h4>
</div>

<!-- grahp -->
<div
  class="divBox"
  id="myChart"
  style=" height: 500px"
></div>

<!-- list of users -->
<div class="divBox" >
  <table class="table">
    <thead>
      <tr>
        <th  class="thTitle" scope="col">name</th>
        <th  class="thTitle" scope="col">id</th>
        <th  class="thTitle" scope="col">city</th>
        <th  class="thTitle" scope="col">birth date</th>
        <th  class="thTitle" scope="col">phone</th>
        <th  class="thTitle" scope="col">positive day</th>

      </tr>
    </thead>
    <tbody>
      <% allUsers.forEach(function(user){ %>
      <tr>
        <td>  <%=user.personalDetails.name %></td>
        <td>  <%=user.personalDetails.id %></td>
        <td>  <%=user.personalDetails.address.city %></td>
        <td>  <%=user.personalDetails.dateOfBirth.toLocaleString().split(',')[0] %></td>
        <td>  <%=user.personalDetails.cellPhoneNumber %></td>
        <%var positive = user.coronaInfo.positiveDate; %>
        <% if(positive == null){ %>
        <td> no date</td>
          <% } else{%>
        <td>  <%=user.coronaInfo.positiveDate.toLocaleString().split(',')[0]  %></td>
        <% }}); %>
      </tr>
    </tbody>
  </table>
</div>

<!-- ----------------------------script---------------------------------------- -->

    <script>

      //Draw graph
      google.charts.load("current", { packages: ["corechart"] });
      google.charts.setOnLoadCallback(drawChart);


      $(window).on("load",function(){
         $.get("/drawGraph", async function(data){
          var arrayGraph = [ ];
          console.log(data)
          arrayGraph = data;
          await drawChart(arrayGraph);

          document.getElementsByClassName("myDropdown").selectedIndex = -1;

        });
      });
     
      function drawChart(arrayGraph) {
        // Set Data
        const data = google.visualization.arrayToDataTable(arrayGraph);
        // Set Options
        const options = {
          title: "current month positive",
          hAxis: { title: "Day" },
          vAxis: { title: "People" },
          legend: "none",
        };
        // Draw
        const chart = new google.visualization.LineChart(
          document.getElementById("myChart")
        );
        chart.draw(data, options);
      }

      //Add profile picture
      const input = document.querySelector("#inputPicture");
      const output = document.querySelector("#output");
      let imagesArray = [];

      input.addEventListener("change", () => {
        const file = input.files;
        imagesArray.push(file[0]);
        displayImages();
      });

      function displayImages() {
        let images = `<div class="image">
                          <img src="${URL.createObjectURL(imagesArray[0])}" alt="image">
                        </div>`;
        output.innerHTML = images;
      }

      //Find user by id
      $("#search").click(function(){
         $.get("/pullUser/:id/?id=" + $('#idSearch').val(), function(data, status){
          var parsedData = JSON.parse(JSON.stringify(data));
          alert ("name:  " + parsedData.personalDetails.name +"\n"+
          "id:  " + parsedData.personalDetails.id +"\n"+
          "address:  " + parsedData.personalDetails.address.city +" "+
          parsedData.personalDetails.address.street+" "+ parsedData.personalDetails.address.homeNumber +"\n"+
          "date Of Birth:  " + parsedData.personalDetails.dateOfBirth.toLocaleString().split(',')[0] +"\n"+
          "cell Phone Number:  " + parsedData.personalDetails.cellPhoneNumber +"\n" );
        });
      });

    </script>

    <%- include("partials/footer") %>
  </div>
</div>
